---
const { title, date, description, technologies } = {
    title: '',
    date: new Date(),
    description: '',
    technologies: [],
    ...Astro.props
};
---
<article class="project-card">
    <div class="images-container">
        <img src="" alt="Not found"/>
        <img src="" alt="Not found"/>
        <img src="" alt="Not found"/>
    </div>
    <main>
        <h2>{title}</h2>
        <span>Fecha de realización: {date}</span>
        <p>
            <b>Descripción:</b><br>
            {description}
        </p>
    </main>
    <footer>
        {
            technologies.map( ({ lang, icon, style }) =>
                <button class={`tag button-lang ${style}`}>
                    <Fragment set:html={icon}/>
                    <span>{lang}</span>
                </button>
            )
        }
    </footer>
</article>