---
import { GetProjectImages } from "../../api/projects";
import { getIconData } from "../../utils/getIconData";

import type { IProjectsTranslation } from "../../interface/AppLangs";
import type { IProject } from "../../interface/LangSupport";

const { lang } = Astro.params;
const { id, name, date, description, technologies, translation }: IProject & { translation: IProjectsTranslation } = {
    id: '',
    name: '',
    date: '',
    description: [] as string[],
    technologies: [] as string[],
    subname: '',
    cover: '',
    translation: {
        date: '',
        description: '',
        details: '',
        title: ''
    },
    ...Astro.props
};
const images = (await GetProjectImages({ id })).splice(-3);
---
<article class="project-card container">
    <div class="images-container">
        <img src={images[0]} alt="Not found" width="400px"/>
        <img src={images[1]} alt="Not found" width="400px"/>
        <img src={images[2]} alt="Not found" width="400px"/>
    </div>
    <main>
        <h2>{name}</h2>
        <span>{translation.date}: {date}</span>
        <p>
            <b>{translation.description}:</b><br>
            {
                (description??[]).map( d => <p>{d}</p>)
            }
        </p>
        <a href={`/${lang}/projects/${id}`}>{translation.details}</a>
    </main>
    <footer>
        {
            technologies.map( tech => {
                const data = getIconData(tech);
                return <button class={`tag button-lang ${tech}`}>
                    <Fragment set:html={data.svg}/>
                    <span>{data.name}</span>
                </button>
            })
        }
    </footer>
</article>