---
import MX from "/assets/flags/mx.svg?raw";
import CH from "/assets/flags/ch.svg?raw";
import UK from "/assets/flags/uk.svg?raw";

import type { IBlogResume } from "../../interface/Blog";
import { ENGLISH, SPANISH } from "../../utils/langs";

const { title, author, description, duration, lang, technology, id, time }: IBlogResume & { time: string } = {
    id: '',
    description: '',
    duration: 0,
    lang: '',
    technology: '',
    title: '',
    author: '',
    time: '',
    ...Astro.props
};
---

<article class="container">
    <img src={`/assets/images/langs/${technology}.webp`} alt={`Logotipo de lenguaje ${technology}.`} width="200px" height="200px">
    <div>
        <h2>{title}</h2>
        <p>{description}</p>
        <b>{author}</b>
        <span>{duration} {time}</span>
    </div>
    <button class="tag lang">
        <Fragment set:html={ lang === SPANISH ? MX : lang === ENGLISH ? UK : CH }/>
    </button>
    <a href={`/${lang}/blogs/${id}`}></a>
</article>