---
import MX from "/assets/flags/mx.svg?raw";
import CH from "/assets/flags/ch.svg?raw";
import UK from "/assets/flags/uk.svg?raw";

import type { IBlogResume } from "../../interface/Blog";

const { title, author, description, duration, lang, technology, id }: IBlogResume = {
    id: '',
    description: '',
    duration: 0,
    lang: '',
    technology: '',
    title: '',
    author: '',
    ...Astro.props
};
---

<article class="container">
    <img src={`/assets/images/langs/${technology}.png`} alt="Lenguaje no reconocido">
    <div>
        <h2>{title}</h2>
        <p>{description}</p>
        <b>{author}</b>
        <span>{duration} minutos</span>
    </div>
    <button class="tag lang">
        <Fragment set:html={ lang === 'es' ? MX : lang === 'en' ? UK : CH }/>
    </button>
    <a href={`/${lang}/blog/${id}`}></a>
</article>