---
    const { image, position, caption, text, id } = Astro.props;
    console.log(image, id);
---
<div class="fragment">
    <figure class={position}>
        <img src=`/assets/blogs/${id}/${image}` alt="No encontrado">
        <figcaption>{caption}</figcaption>
    </figure>
    <p>{text}</p>
</div>