---
import Header from "../components/Header.astro";
import { SPANISH, ENGLISH } from "../utils/langs";

const { lang, includes, title } = { 
	title: '',
	includes: [],
	lang: SPANISH,
	...Astro.props
};

const seo = Astro.props.seo;
---

<html lang={lang}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="robots" content="index, follow">

		{
			seo ?
				<Fragment>
					<meta name="description" content={seo.description} />
					<meta name="keywords" content={`brayan tellez, programación, educación, aprendizaje, ${seo.title}, ${(seo.keywords??[]).join(',')}`} />
					<meta name="author" content="Brayan Téllez" />
					<meta property="og:title" content={seo.og.title} />
					<meta property="og:description" content={seo.og.description} />
					<meta property="og:type" content={seo.og.type} />
					<meta property="og:url" content={seo.og.url} />
					<meta property="og:image" content={seo.og.image} />
					<meta property="og:locale" content={lang === SPANISH ? 'es_MX' : lang === ENGLISH ? 'en_US' : 'zh_CN'} />

					<meta name="twitter:card" content="summary_large_image" />
					<meta name="twitter:title" content={seo.twitter.title} />
					<meta name="twitter:description" content={seo.twitter.description} />
					<meta name="twitter:image" content={seo.twitter.image} />

					<link rel="canonical" href={seo.canonical.url} />
				</Fragment>
			: null
		}

		<link rel="sitemap" href="/sitemap-index.xml" />

        <link rel="stylesheet" href="/styles/global.css">
		{ includes.map( ( i: string ) => <link rel="stylesheet" href={`/styles/${i}.css`} set:html/> ) }
  		<link rel="icon" type="image/x-icon" href="/assets/logotipe/icon_bpp_colour.ico">
		
		<title>{title}</title>
	</head>
	<body id="root">
        <Header lang={lang}/>
        <slot/>
	</body>
</html>
