---
import LinkedIn from "/assets/icons/LinkedIn.svg?raw";
import Youtube from "/assets/icons/Youtube.svg?raw";
import GitHub from "/assets/icons/GitHub.svg?raw";
import JavaScript from "/assets/icons/JavaScriptIcon.svg?raw";
import Django from "/assets/icons/Django.svg?raw";
import HTML from "/assets/icons/HTML.svg?raw";
import CSS from "/assets/icons/CSS.svg?raw";
import Navigation from "../components/Navigation.astro";
import ToggleDarkMode from "../components/react/ToggleDarkMode.tsx";
import Carousel from "../components/react/Carousel";
import Breadcrumb from "../components/Breadcrumb.astro";

const name = 'Brayan Téllez Cruz'
const credentials = 'Ingeniero en Computación | Desarrollador Web'
const meta = {
  title: `Sobre mí - ${name}`,
  description: "El conocimiento es inútil si no se puede compartir.",
  image: "/assets/profile.jpg",
  url: "https://tu-sitio.com/about"
};
const about_me = `
  Si tuviera que describirme con pocas palabras sin duda sería: <br>
  <ul>
    <li>
      <strong>Experimental:</strong> soy una persona que siempre busca superarse y adquirir nuevos conocimientos, hacer uso de tecnologías viejas y nuevas, mezclarlas, 
      jugar con ellas.
    </li>
    <li>
      <strong>Perfeccionista:</strong> cuando hago algo me gusta que quede hecho de la mejor manera posible, esto es beneficioso pues me permite asegurar la calidad en
      los trabajos que realizo, sin embargo, implica dedicar una gran cantidad de tiempo a mis proyectos.
    </li>
    <li>
      <strong>Pragmático:</strong> si algo es mejor para el proyecto o el equipo es preferible usarlo y trabajar con ello, si nos ayuda a llegar a los tiempos o a
      integrar a nuevos elementos al equipo con facilidad, hagamoslo.
    </li>
    <li>
      <strong>Flexible:</strong> me adapto con gran facilidad a los entornos y tareas que me son asignadas, aún que no tengan que ver con mi enfoque principal,
      revisar documentación, investigar sobre las tecnologías usadas, modificar una implementación manteniendo las interfaces previas es algo que disfruto hacer debido
      a lo retador y gratificante que resulta.
    </li>
    <li>
      <strong>Divertido:</strong> fuera del ambiente laboral, soy alguien a quien le gusta disfrutar de su tiempo con actividades variadas, videojuegos, libros,
      baloncesto, juegos de mesa, contar chistes es algo que hago a menudo y me encanta cantar.
    </li>
  </ul>
`
const project_name = 'Lua';
const project_description = [
  `Lua es una plataforma de cursos interna de la facultad de ingeniería, el objetivo es terminar su despliegue a lo largo de el primer semestre del año 2025,
  esta construido con JavaScript a modo de SPA, con una implementación propia (realizada por mí) del protocolo MPEG-DASH para el streaming de vídeo adaptativo bajo
  latencia.`,
  `La plataforma de cursos incluye manejo de sesiones, carrito de compras, manejo de ordens, sección de administrador para crear usuarios, modificar sus permisos,
  aceptar o rechazar solicitudes para cursos, administrar los usuarios de un curso así como los logs. Sistema de creación de cursos, agregar temas y recursos asociados,
  perfiles y suplantación de identidad para los administradores, así como consumo de vídeo vía streaming.`,
  `Si bien yo participé principalmente en el desarrollo del frontend y la integración con el backend, también realice funcionalidades y correcciones al backend.`
];
const images = [
  '/assets/images/projects/lua_1.png',
  '/assets/images/projects/lua_2.png',
  '/assets/images/projects/lua_3.png',
  '/assets/images/projects/lua_4.png',
  '/assets/images/projects/lua_5.png',
  '/assets/images/projects/lua_6.png'
];
const routes = [
  { text: 'Brayan Téllez', href: '/' }
];
---

<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <title>{meta.title}</title>
  <meta name="description" content={meta.description} />
  <meta name="author" content={name} />

  <meta property="og:title" content={meta.title} />
  <meta property="og:description" content={meta.description} />
  <meta property="og:image" content={meta.image} />
  <meta property="og:url" content={meta.url} />
  <meta property="og:type" content="website" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={meta.title} />
  <meta name="twitter:description" content={meta.description} />
  <meta name="twitter:image" content={meta.image} />

  <link rel="stylesheet" href="/styles/global.css" />
  <link rel="stylesheet" href="/styles/about-me.css" />
  <link rel="stylesheet" href="/styles/carousel.css" />
  <link rel="stylesheet" href="/styles/lang-buttons.css" />
</head>

<body id="root">
  <main>
    <header>
      <div>
        <div id="foto_perfil">
          <img src="/assets/images/me/brayan.jpg" alt="Foto de perfil" itemprop="image"/>
          <img src="/assets/images/langs/JavaScript.png" alt="">
        </div>
        <div class="aside">
          <div class="data-container">
            <h1 itemprop="name">{name}</h1>
            <h2 itemprop="jobTitle">{credentials}</h2>
            <p>
              {meta.description}
            </p>
          </div>
          <div class="tags">
            <a itemprop="sameAs" class={`tag button-lang linkedin`} href="https://www.linkedin.com/in/brayan-t%C3%A9llez-cruz-mx/">
                <Fragment set:html={LinkedIn}/>
                <span>LinkedIn</span>
            </a>
            <a itemprop="sameAs" class={`tag button-lang youtube`} href="https://www.youtube.com/@bpp_mx">
                <Fragment set:html={Youtube}/>
                <span>Youtube</span>
            </a>
            <a itemprop="sameAs" class={`tag button-lang github`} href="https://github.com/BrayanTCc83">
                <Fragment set:html={GitHub}/>
                <span>GitHub</span>
            </a>
          </div>
        </div>
      </div>
      <Navigation/>
      <ToggleDarkMode client:only="react"/>
    </header>
    <Breadcrumb routes={routes}/>
    <section id="main" class="about-me" itemscope itemtype="https://schema.org/Person">
      <div class="about">
        <img src="/assets/images/me/brayan.jpg" alt="Foto de perfil" itemprop="image"/>
        <h1 itemprop="name">{name}</h1>
        <h2 itemprop="jobTitle">{credentials}</h2>
      </div>
      
      <h3>Experiencia</h3>
      <ul class="experience">
        <li>
          <img src="/assets/images/me/LogoMultimedia.png" alt="Logo Multimedia">
          <p>
            <strong>Laboratorio de Multimedia e Internet</strong><br>
            Desarrollador Frontend (Agosto 2023 - Presente)
          </p>
        </li>
        <li>
          <img src="/assets/images/langs/JavaScript.png" alt="Mi logo">
          <p>
            <strong>Freelance</strong><br>
            Proyectos personales y clientes (2022 - Presente)
          </p>
        </li>
      </ul>

      <h3>Sobre mí</h3>
      <p set:html={about_me}></p>

      <h3>Habilidades</h3>
      <ul>
        <li>HTML, CSS, JavaScript</li>
        <li>React, Astro, Vite</li>
        <li>SEO, Accesibilidad Web (a11y)</li>
      </ul>
      
      <h3>Proyecto destacado: {project_name}.</h3>
      {
        project_description.map( d => <p>{d}</p> )
      }
      <section itemprop="image">
        <Carousel images={images} client:only="react"/>
      </section>
      <div class="tags">
        <a class="cv" href="https://mmedia1.fi-b.unam.mx/lua/">Aplicación web Lua</a>
      </div>
      <div class="tags">
        <button class={`tag button-lang js`}>
            <Fragment set:html={JavaScript}/>
            <span>JavaScript</span>
        </button>
        <button class={`tag button-lang html`}>
            <Fragment set:html={HTML}/>
            <span>HTML</span>
        </button>
        <button class={`tag button-lang css`}>
            <Fragment set:html={CSS}/>
            <span>CSS</span>
        </button>
        <button class={`tag button-lang django`}>
            <Fragment set:html={Django}/>
            <span>Django</span>
        </button>
      </div>

      <h3>Trayectoria escolar</h3>
      <ul class="experience">
        <li>
          <img src="/assets/images/me/unam.jpg" alt="Logo Multimedia">
          <p>
            <strong>UNAM</strong><br>
            Universidad Nacional Autónoma de México - Facultad de Ingeniería.
          </p>
        </li>
        <li>
          <img src="/assets/images/me/cbtis.jpg" alt="Mi logo">
          <p>
            <strong>CBTIS 83</strong><br>
            Centro de Bachiller Tecnológico Industrial y de Servicios No. 83 - Técnico en programación.
          </p>
        </li>
      </ul>

      <h3>Currículum</h3>
      <div class="tags">
        <a class="cv" href="/assets/pdf/Brayan Téllez Cruz CV EN.pdf">CV en Inglés</a>
        <a class="cv" href="/assets/pdf/Brayan Téllez Cruz CV ES.pdf">CV en Español</a>
      </div>
    </section>
  </main>
  <footer class="data">
    <p>&copy; 2025 {name} - Todos los derechos reservados.</p>
    
    <div class="tags">
      <a itemprop="sameAs" class={`tag button-lang linkedin`} href="https://www.linkedin.com/in/brayan-t%C3%A9llez-cruz-mx/">
          <Fragment set:html={LinkedIn}/>
          <span>LinkedIn</span>
      </a>
      <a itemprop="sameAs" class={`tag button-lang youtube`} href="https://www.youtube.com/@bpp_mx">
          <Fragment set:html={Youtube}/>
          <span>Youtube</span>
      </a>
      <a itemprop="sameAs" class={`tag button-lang github`} href="https://github.com/BrayanTCc83">
          <Fragment set:html={GitHub}/>
          <span>GitHub</span>
      </a>
    </div>
  </footer>
  <script is:inline>
    window.addEventListener("scroll", function () {
      let header = document.querySelector("header");
      setTimeout(() => {
        if(this.window.scrollY > 50) {
          header.classList.add('scroll-active');
        } else if(this.window.scrollY < 50) {
          header.classList.remove('scroll-active');
        }
      }, 100);
    });
  </script>
</body>
</html>