---
import Template from "../../../template/Template.astro";
import Article from "../../../components/learn/Article.astro";
import Breadcrumb from "../../../components/Breadcrumb.astro";
import LanguageController from "../../../components/LanguageController.astro";

import LearnES from "../../../data/es/translation.json";
import LearnEN from "../../../data/en/translation.json";
import LearnCH from "../../../data/ch/translation.json";

import { GetAllLearn } from "../../../api/learn";

import type { ILearnConcept } from "../../../interface/Learn.ts";
import type { ILearnTranslation } from "../../../interface/AppLangs";

export async function getStaticPaths() {
  return [
    { params: { lang: 'es' } },
    { params: { lang: 'en' } },
    { params: { lang: 'ch' } },
  ];
}

const { lang } = Astro.params;
const articulos: ILearnConcept[] = await GetAllLearn({ lang });

const translate: ILearnTranslation = lang === 'es' ? LearnES.learn : lang === 'en' ? LearnEN.learn : LearnCH.learn;
const routes = [
  { text: 'Brayan Téllez', href: '/' },
  { text: translate.title, href: '/learn' }
];
---
<Template includes={['learn', 'lang-buttons']} lang={lang} title={`Brayan Téllez | ${translate.title}`}>
    <LanguageController lang={lang}/>
    <Breadcrumb routes={routes}/>
    <section id="main">
      {
        articulos.map( articulo => <Article {...articulo} translate={translate}/> )
      }
    </section>
</Template>