---
import World from "/assets/icons/World.svg?raw";

import MX from "/assets/flags/mx.svg?raw";
import CH from "/assets/flags/ch.svg?raw";
import UK from "/assets/flags/uk.svg?raw";

import { SPANISH, ENGLISH, CHINESE } from "../utils/langs";

const lang = Astro.props.lang;
---
<div class="language-controller">
    <ul
        class="langs-container hide"
        id="langs-options"
        role="listbox"
        aria-label="Selector de idioma"
    >
        <li role="option" aria-selected={lang === SPANISH ? 'true' : 'false'}>
            <a href="#" class="tag" data-lang={SPANISH} tabindex={lang === SPANISH ? "-1" : "0"}>
                <Fragment set:html={MX} />
                <span>Español</span>
            </a>
        </li>
        <li role="option" aria-selected={lang === ENGLISH ? 'true' : 'false'}>
            <a href="#" class="tag" data-lang={ENGLISH} tabindex={lang === ENGLISH ? "-1" : "0"}>
                <Fragment set:html={UK} />
                <span>English</span>
            </a>
        </li>
        <li role="option" aria-selected={lang === CHINESE ? 'true' : 'false'}>
            <a href="#" class="tag" data-lang={CHINESE} tabindex={lang === CHINESE ? "-1" : "0"}>
                <Fragment set:html={CH} />
                <span>汉语</span>
            </a>
        </li>
    </ul>
    <button
        class="tag"
        id="langs"
        aria-haspopup="listbox"
        aria-expanded="false"
        aria-controls="langs-options"
        aria-label="Abrir selector de idioma"
    >
        <Fragment set:html={World} />
        <span>{lang}</span>
    </button>
</div>
<script is:inline>
    const langs = document.getElementById("langs");
    const langsOptions = document.getElementById("langs-options");
    const links = langsOptions.querySelectorAll('a');
    links.forEach(link => 
        link.href = `${location.origin}/${link.getAttribute('data-lang')}${location.pathname.substring(3)}`
    );

    langs.onclick = () => {
        langsOptions.classList.toggle('hide');
    }
</script>