---
import User from "/assets/icons/User.svg?raw";
import Blog from "/assets/icons/Blog.svg?raw";
import Project from "/assets/icons/Project.svg?raw";
import Learn from "/assets/icons/Learn.svg?raw";

const { lang } = {
    lang: 'es',
    ...Astro.props
};
const options = {
    'es': {
        about: 'Sobre mí',
        projects: 'Proyectos',
        blogs: 'Publicaciones',
        learn: 'Aprende conmigo'
    },
    'en': {
        about: 'About me',
        projects: 'Projects',
        blogs: 'Blogs',
        learn: 'Learn with me'
    },
    'ch': {
        "about": "关于我",
        "projects": "项目",
        "blogs": "文章发布",
        "learn": "跟我一起学习"
    }
};
const elems = (options as any)[lang ? lang: 'es'];
---

<nav class="header-navigation">
    <ul id="items">
        <li>
            <a href={`/${lang ? lang : 'es'}/`}>
                <Fragment set:html={User}/>
                {elems.about}
            </a>
        </li>
        <li>
            <a href={`/${lang ? lang : 'es'}/projects`}>
                <Fragment set:html={Project}/>
                {elems.projects}
            </a>
        </li>
        <li>
            <a href={`/${lang ? lang : 'es'}/blogs`}>
                <Fragment set:html={Blog}/>
                {elems.blogs}
            </a>
        </li>
        <li>
            <a href={`/${lang ? lang : 'es'}/learn`}>
                <Fragment set:html={Learn}/>
                {elems.learn}
            </a>
        </li>
    </ul>
    <script is:inline>
        const currentUrl = location.pathname;
        const anchors = Array.from(document.getElementById("items").children).map( li => li.children[0] );
        (
            currentUrl === '/' ? anchors[0]
            : anchors.find(a => a.href.includes(currentUrl))
        )?.classList.add('current');
    </script>
</nav>