---
import LinkedIn from "/assets/icons/LinkedIn.svg?raw";
import Youtube from "/assets/icons/Youtube.svg?raw";
import GitHub from "/assets/icons/GitHub.svg?raw";
import JavaScript from "/assets/icons/JavaScriptIcon.svg?raw";
import Django from "/assets/icons/Django.svg?raw";
import HTML from "/assets/icons/HTML.svg?raw";
import CSS from "/assets/icons/CSS.svg?raw";
import Navigation from "../../components/Navigation.astro";
import Carousel from "../../components/react/Carousel";
import { AboutMe, MainProject, MainProjectImages } from "../../api/aboutme.ts";
import { API } from "../../api/base.ts";

export async function getStaticPaths() {
  return [
    { params: { lang: 'es' } },
    { params: { lang: 'en' } },
  ];
}

const { lang } = Astro.params;
const aboutme = await AboutMe({ lang });
const project = await MainProject({ lang });
const images = (await MainProjectImages()).map( img => `${API}${img}` );

const name = 'Brayan Téllez Cruz'
const credentials = aboutme.credentials;
const meta = {
  ...aboutme.meta,
  title: `Sobre mí - ${name}`
};
const about_me = aboutme.content;
const project_name = 'Lua';
const routes = [
  { text: 'Brayan Téllez', href: '/' }
];
---

<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <title>{meta.title}</title>
  <meta name="description" content={meta.description} />
  <meta name="author" content={name} />

  <meta property="og:title" content={meta.title} />
  <meta property="og:description" content={meta.description} />
  <meta property="og:image" content={meta.image} />
  <meta property="og:url" content={meta.url} />
  <meta property="og:type" content="website" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={meta.title} />
  <meta name="twitter:description" content={meta.description} />
  <meta name="twitter:image" content={meta.image} />

  <link rel="stylesheet" href="/styles/global.css" />
  <link rel="stylesheet" href="/styles/about-me.css" />
  <link rel="stylesheet" href="/styles/carousel.css" />
  <link rel="stylesheet" href="/styles/lang-buttons.css" />
</head>

<body id="root">
  <header>
    <div class="nav-sentinel"></div>
    <Navigation lang={lang}/>
  </header>
  <section class="photo container" itemscope itemtype="https://schema.org/Person">
    <img alt="Foto de perfil" itemprop="image"/>
    <h2 itemprop="name">{name}</h1>
    <h3 itemprop="jobTitle">{credentials}</h2>
  </section>
  <div class="techs container">
    <h2>Habilidades</h2>
    <ul>
      <div class="tags">
        <button class={`tag button-lang js`}>
            <Fragment set:html={JavaScript}/>
            <span>JavaScript</span>
        </button>
        <button class={`tag button-lang html`}>
            <Fragment set:html={HTML}/>
            <span>HTML</span>
        </button>
        <button class={`tag button-lang css`}>
            <Fragment set:html={CSS}/>
            <span>CSS</span>
        </button>
        <button class={`tag button-lang django`}>
            <Fragment set:html={Django}/>
            <span>Django</span>
        </button>
      </div>
    </ul>
  </div>
  <div class="main_project container">
    <h2>Proyecto destacado: {project_name}.</h2>
    {
      project.description??[].map( d => <p>{d}</p> )
    }
    <section itemprop="image">
      <Carousel images={images} client:only="react"/>
    </section>
    <div class="tags">
      <a class="cv" href="https://mmedia1.fi-b.unam.mx/lua/">Aplicación web Lua</a>
    </div>
    <div class="tags">
      <button class={`tag button-lang js`}>
          <Fragment set:html={JavaScript}/>
          <span>JavaScript</span>
      </button>
      <button class={`tag button-lang html`}>
          <Fragment set:html={HTML}/>
          <span>HTML</span>
      </button>
      <button class={`tag button-lang css`}>
          <Fragment set:html={CSS}/>
          <span>CSS</span>
      </button>
      <button class={`tag button-lang django`}>
          <Fragment set:html={Django}/>
          <span>Django</span>
      </button>
    </div>
  </div>
  <div class="about container">
    <h2>Sobre mí</h2>
    <p>
      <span>{about_me.header}</span>
      <ul>
        {
          about_me.description.map( ({strong, text}) => <li><strong>{strong}: </strong>{text}</li> )
        }
      </ul>
    </p>
  </div>
  <div class="videos container">

  </div>
  <div class="languages container">
    <h2>Idiomas</h2>
    <ul>
      <div class="tags">
        <button class={`tag button-lang js`}>
            <Fragment set:html={JavaScript}/>
            <span>ES - Nativo</span>
        </button>
        <button class={`tag button-lang html`}>
            <Fragment set:html={HTML}/>
            <span>EN - B 2</span>
        </button>
        <button class={`tag button-lang css`}>
            <Fragment set:html={CSS}/>
            <span>CH - HSK 2</span>
        </button>
      </div>
    </ul>
  </div>
  <div class="hobbies container">

  </div>
  <div class="projects container">

  </div>
  <div class="education container">
    <h2>Trayectoria escolar</h2>
    <ul class="experience">
      <li>
        <img src="/assets/images/me/unam.jpg" alt="Logo Multimedia">
        <p>
          <strong>UNAM</strong><br>
          Universidad Nacional Autónoma de México - Facultad de Ingeniería.
        </p>
      </li>
      <li>
        <img src="/assets/images/me/cbtis.jpg" alt="Mi logo">
        <p>
          <strong>CBTIS 83</strong><br>
          Centro de Bachiller Tecnológico Industrial y de Servicios No. 83 - Técnico en programación.
        </p>
      </li>
    </ul>
  </div>
  <footer class="data">
    <h3>Currículum</h3>
    <div class="tags">
      <a class="cv" href="/assets/pdf/Brayan Téllez Cruz CV EN.pdf">CV en Inglés</a>
      <a class="cv" href="/assets/pdf/Brayan Téllez Cruz CV ES.pdf">CV en Español</a>
    </div>
    <p>&copy; 2025 {name} - Todos los derechos reservados.</p>
    
    <div class="tags">
      <a itemprop="sameAs" class={`tag button-lang linkedin`} href="https://www.linkedin.com/in/brayan-t%C3%A9llez-cruz-mx/">
        <Fragment set:html={LinkedIn}/>
        <span>LinkedIn</span>
      </a>
      <a itemprop="sameAs" class={`tag button-lang youtube`} href="https://www.youtube.com/@bpp_mx">
        <Fragment set:html={Youtube}/>
        <span>Youtube</span>
      </a>
      <a itemprop="sameAs" class={`tag button-lang github`} href="https://github.com/BrayanTCc83">
        <Fragment set:html={GitHub}/>
        <span>GitHub</span>
      </a>
    </div>
  </footer>
  <script is:inline>
    window.addEventListener("scroll", function () {
      let header = document.querySelector("header");
      if(this.window.scrollY > 50) {
        header.classList.add('scroll-active');
      }
    });
  </script>
</body>
</html>