---
import LinkedIn from "/assets/icons/LinkedIn.svg?raw";
import Youtube from "/assets/icons/Youtube.svg?raw";
import GitHub from "/assets/icons/GitHub.svg?raw";

import Learn from "/assets/icons/Learn1.svg?raw";
import Teach from "/assets/icons/Teach.svg?raw";
import Idea from "/assets/icons/Idea.svg?raw";
import Talk from "/assets/icons/Talk.svg?raw";
import Heart from "/assets/icons/Heart.svg?raw";
import Computer from "/assets/icons/Computer.svg?raw";

import MX from "/assets/flags/mx.svg?raw";
import CH from "/assets/flags/ch.svg?raw";
import UK from "/assets/flags/uk.svg?raw";

import AboutES from "../../data/es/translation.json";
import AboutEN from "../../data/en/translation.json";
import AboutCH from "../../data/ch/translation.json";

import LanguageController from "../../components/LanguageController.astro";
import Carousel from "../../components/react/Carousel";

import { AboutMe, MainProject, MainProjectImages } from "../../api/aboutme.ts";
import { GetLatestProjects } from "../../api/projects.ts";
import { getIconData } from "../../utils/getIconData.ts";
import { GetLatestVideos } from "../../api/youtube.ts";

import type { IAboutMeTranslation } from "../../interface/AppLangs.ts";
import Header from "../../components/Header.astro";

export async function getStaticPaths() {
  return [
    { params: { lang: 'es' } },
    { params: { lang: 'en' } },
    { params: { lang: 'ch' } },
  ];
}

const { lang } = Astro.params;
const aboutme = await AboutMe({ lang });
const mainproject = await MainProject({ lang });
const images = await MainProjectImages();
const latestVideos = await GetLatestVideos();
const projects = await GetLatestProjects({ lang });

const name = 'Brayan Téllez Cruz'
const credentials = aboutme.credentials;
const translation: IAboutMeTranslation = lang === 'es' ? AboutES.about : lang === 'en' ? AboutEN.about : AboutCH.about;
const meta = {
  ...aboutme.meta,
  title: `${name} | ${translation.title}`
};
const about_me = aboutme.content;
---

<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <title>{meta.title}</title>
  <meta name="description" content={meta.description} />
  <meta name="author" content={name} />

  <meta property="og:title" content={meta.title} />
  <meta property="og:description" content={meta.description} />
  <meta property="og:image" content={meta.image} />
  <meta property="og:url" content={meta.url} />
  <meta property="og:type" content="website" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={meta.title} />
  <meta name="twitter:description" content={meta.description} />
  <meta name="twitter:image" content={meta.image} />

  <link rel="stylesheet" href="/styles/global.css" />
  <link rel="stylesheet" href="/styles/about-me.css" />
  <link rel="stylesheet" href="/styles/carousel.css" />
  <link rel="stylesheet" href="/styles/lang-buttons.css" />
  <link rel="icon" type="image/x-icon" href="/assets/logotipe/icon_bpp_colour.ico">
</head>

<body id="root">
  <Header lang={lang}/>
  <LanguageController lang={lang}/>
  <section class="photo container" itemscope itemtype="https://schema.org/Person">
    <img src="/assets/images/me/brayan.jpg" alt="Foto de perfil" itemprop="image"/>
    <h2 itemprop="name">{name}</h1>
    <h3 itemprop="jobTitle">{credentials}</h2>
  </section>
  <div class="techs container">
    <h2>{translation.skills}</h2>
    <ul>
      <div class="skills-container">
        <button class={`skill`}>
          <Fragment set:html={Learn}/>
          <span>{aboutme.skills['learn']}</span>
        </button>
        <button class={`skill`}>
          <Fragment set:html={Teach}/>
          <span>{aboutme.skills['teach']}</span>
        </button>
        <button class={`skill`}>
          <Fragment set:html={Talk}/>
          <span>{aboutme.skills['talk']}</span>
        </button>
        <button class={`skill`}>
          <Fragment set:html={Idea}/>
          <span>{aboutme.skills['idea']}</span>
        </button>
        <button class={`skill stroke`}>
          <Fragment set:html={Heart}/>
          <span>{aboutme.skills['empathy']}</span>
        </button>
        <button class={`skill`}>
          <Fragment set:html={Computer}/>
          <span>{aboutme.skills['technology']}</span>
        </button>
      </div>
    </ul>
  </div>
  <div class="main_project container">
    <h2>{translation.mainProject}: {mainproject.name}.</h2>
    <h3>{mainproject.subname}</h3>
    {
      mainproject.description??[].map( d => <p>{d}</p> )
    }
    <div class="tags">
      {
        (mainproject.technologies??[]).map( tech => {
          const data = getIconData(tech);
          return <button class={`tag button-lang ${tech}`}>
            <Fragment set:html={data.svg}/>
            <span>{data.name}</span>
          </button>
        })
      }
    </div>
    <section itemprop="image">
      <Carousel images={images} client:only="react"/>
    </section>
    <div class="tags">
      {
        mainproject.urlweb ? 
          <a class="cv" href={mainproject.urlweb}>{lang == 'es' ? 'Aplicación web': 'Web app'} {mainproject.name}</a>
        : null
      }
      {
        mainproject.urlgit ?
          <a href={mainproject.urlgit} class={`tag button-lang github`}>
            <Fragment set:html={GitHub}/>
            <span>Repositorio</span>
          </a>
        : null
      }
    </div>
  </div>
  <div class="about container">
    <h2>{translation.about}</h2>
    <p>
      <span>{about_me.header}</span>
      <ul>
        {
          about_me.description.map( ({strong, text}) => <li><strong>{strong}: </strong>{text}</li>)
        }
      </ul>
    </p>
  </div>
  <div class="videos container">
    <h2>{translation.videos}</h2>
    <ul class="video-container">
      {
        latestVideos.items ?
          latestVideos.items.map( video => (
            <li class="video">
              <a href={`https://www.youtube.com/watch?v=${video.id.videoId}`} target="_blank" data-title={video.snippet.title}>
                <img
                  src={video.snippet.thumbnails.high.url}
                  alt={video.snippet.channelTitle}
                />
              </a>
            </li>
          ))
        : null
      }
    </ul>
    <div class="tags">
      <a itemprop="sameAs" class={`tag button-lang youtube`} href="https://www.youtube.com/@bpp_mx">
        <Fragment set:html={Youtube}/>
        <span>Ver más</span>
      </a>
    </div>
  </div>
  <div class="languages container">
    <h2>{translation.langs}</h2>
    <ul>
      <div class="tags">
        <button class={`tag button-lang-rl`}>
            <Fragment set:html={MX}/>
            <span><b>ES - </b>Nativo</span>
        </button>
        <button class={`tag button-lang-rl`}>
            <Fragment set:html={UK}/>
            <span><b>EN - </b>B 2</span>
        </button>
        <button class={`tag button-lang-rl`}>
            <Fragment set:html={CH}/>
            <span><b>CH - </b>HSK 2</span>
        </button>
      </div>
    </ul>
  </div>
  <div class="hobbies container">
    <h2>{translation.hobbies}</h2>
    <ul class="video-container">
      <li class="video">
        <a data-title={aboutme.hobbies['basketball']}>
          <img
            src={'/assets/images/hobbies/basketball.jpg'}
            alt={'Basketball'}
          />
        </a>
      </li>
      <li class="video">
        <a data-title={aboutme.hobbies['cooking']}>
          <img
            src={'/assets/images/hobbies/cook.jpg'}
            alt={'Cooking'}
          />
        </a>
      </li>
      <li class="video">
        <a data-title={aboutme.hobbies['reading']}>
          <img
            src={'/assets/images/hobbies/books.jpg'}
            alt={'Reading'}
          />
        </a>
      </li>
      <li class="video">
        <a data-title={aboutme.hobbies['coding']}>
          <img
            src={'/assets/images/hobbies/code.jpg'}
            alt={'Reading'}
          />
        </a>
      </li>
    </ul>
  </div>
  <div class="projects container">
    <h2>{translation.projects}</h2>
    <div>
    {
      projects.map( project => 
        <a href={`/projects/${lang}/${project.id}`} class="project_tag" data-title={project.description[0]}>
          <h3>{project.name}</h3>
          <img
            src={`/assets/projects/${project.id}/${project.cover}`}
            alt={project.id}
          />
          <p>{project.subname}</p>
          <div class="tags">
            {
              (project.technologies??[]).splice(-2).map( tech => {
                const data = getIconData(tech);
                return <button class={`tag button-lang ${tech}`}>
                  <Fragment set:html={data.svg}/>
                  <span>{data.name}</span>
                </button>
              })
            }
          </div>
        </a> 
      )
    }
    </div>
  </div>
  <div class="education container">
    <h2>{translation.schoolar}</h2>
    <ul class="experience">
      <li>
        <img src="/assets/images/me/unam.jpg" alt="Logo Multimedia">
        <p>
          <strong>UNAM</strong><br>
          Universidad Nacional Autónoma de México - Facultad de Ingeniería.
        </p>
      </li>
      <li>
        <img src="/assets/images/me/cbtis.jpg" alt="Mi logo">
        <p>
          <strong>CBTIS 83</strong><br>
          Centro de Bachiller Tecnológico Industrial y de Servicios No. 83 - Técnico en programación.
        </p>
      </li>
    </ul>
  </div>
  <footer class="data">
    <p>&copy; 2025 {name} - Todos los derechos reservados.</p>
    
    <div class="tags">
      <a itemprop="sameAs" class={`tag button-lang linkedin`} href="https://www.linkedin.com/in/brayan-t%C3%A9llez-cruz-mx/">
        <Fragment set:html={LinkedIn}/>
        <span>LinkedIn</span>
      </a>
      <a itemprop="sameAs" class={`tag button-lang youtube`} href="https://www.youtube.com/@bpp_mx">
        <Fragment set:html={Youtube}/>
        <span>Youtube</span>
      </a>
      <a itemprop="sameAs" class={`tag button-lang github`} href="https://github.com/BrayanTCc83">
        <Fragment set:html={GitHub}/>
        <span>GitHub</span>
      </a>
    </div>
  </footer>
</body>
</html>