---
import Github from "/assets/icons/GitHub.svg?raw";
import MX from "/assets/flags/mx.svg?raw";
import CH from "/assets/flags/ch.svg?raw";
import UK from "/assets/flags/uk.svg?raw";

import type { ILearnAbstract } from "../../interface/Learn";
import type { ILearnTranslation } from "../../interface/AppLangs";
import { ENGLISH, SPANISH } from "../../utils/langs";

const { title, lang, themes, resume, git, id }: ILearnAbstract & { translate: ILearnTranslation } = {
    title: '',
    resume: '',
    git: '',
    id: '',
    lang: '',
    themes: [],
    translate: {
        playlist: '',
        repository: '',
        title: ''
    },
    ...Astro.props
};
---
<article class="container">
    <h2>{title}</h2>
    <p set:html={resume}></p>
    <b>Brayan Téllez Cruz</b>
    <b>Temas: {themes.length + 1}</b>
    <button class="tag lang">
        <Fragment set:html={ lang === SPANISH ? MX : lang === ENGLISH ? UK : CH }/>
    </button>
    <a href={`/${lang}/learn/${id}`}>Detalles</a>
    <a itemprop="sameAs" target="_blank" class={`tag button-lang github`} href={git}>
        <Fragment set:html={Github}/>
        <span>Repositorio</span>
    </a>
</article>